version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - {{ monitoring_base_path }}/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus # Named volume for Prometheus data
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: unless-stopped

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    # These settings allow Node Exporter to access the host's system metrics
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
    ports:
      - "9100:9100"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - {{ grafana_storage_path }}:/var/lib/grafana
    environment:
      # Inject credentials from group_vars/homeserver.yml
      - GF_SECURITY_ADMIN_USER={{ grafana_admin_user }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
    restart: unless-stopped

volumes:
  prometheus_data: {}